.about-main-container{
    padding-left: 20px;
}
@media screen and (min-width:768px) {
    .about-main-container{
        padding-left: 50px;
    }
}
.developer-content{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    margin-top: 20px;
}
.developer-description-container{
   width: 100%;
}
.developer-description{
    font-family: "Roboto";
    color: #000000;
    font-size: 14px;
    font-weight: 200;
    line-height: 1.5;
}

@media screen and (min-width:768px){
    .developer-description{
        font-size: 22px;
    }
}
.developer-image{
    width:120px;
    height: 120px;
    border-radius: 100px;
}
.developer-name{
    margin-top: 1;
    font-family: 'DM Sans';
    font-weight: bold;
    font-size: 14px;
    color: #000000;
}

@media screen and (min-width:768px){
    .developer-name{
        font-size: 20px;
    }

}
.developer-education{
    margin-top: 0;
    font-family: 'DM Sans';
    font-weight: 200;
    font-size: 14px;
    color: #000000;
    line-height: 1;
}
@media screen and (min-width:768px){
    .developer-education{
        font-size: 20px;
    }

}

.resume-btn {
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 200px;
  min-height: 30px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.resume-btn:hover,
.resume-btn:focus { 
  background-color: #16437E;
  color: #ffffff;
}

.resume-btn:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.resume-btn:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

.skills-main-heading{
    font-family: 'DM Sans';
    font-size: 18px;
    color: #000000;
}
@media screen and (min-width:768px){
    .skills-main-heading{
        font-size: 24px;
    }

}
.skills-main-container{
    border-top:2px solid #f0f0f0;
}

.skills-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
    margin: 0;
    flex-wrap: wrap;

}
.skill-image{
    width:40px;
}

@media screen and (min-width:768px){
    .skill-image{
        width: 80px;
    }

}
.skill-card{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 250px;
    margin: 10px;
    margin-left: 0;
}
@media screen and (min-width:768px){
    .skill-card{
       margin: 25px;
       margin-left: 0;
    }

}
.skill-name{
    font-family: 'DM Sans';
    font-weight: 300;
    font-size: 16px;
    color: #000000;
    margin-left: 10px;
    line-height: 1;
}
@media screen and (min-width:768px){
    .skill-name{
        font-size: 20px;
    }
}