.projects-main-container{
    display: flex;
    flex-direction: row;
}
.projects-container{
   width:80%;
}
.project-skill-tab{
    min-height: 100vh;
    width:150px;
    background-color: #000000;
}
.skill-ul-list{
    list-style: none;
    padding: 0;
    padding-top: 10px;
    margin: 0;
}
.active-skill{
    background-color: #383838;
}

.list-item{
    height: 45px;
    display: flex;
    align-items: center;
}

.skill-btn{
    color: #f9f9f9;
    font-family: 'DM Sans';
    font-size: 12px;
    margin-left: 5px;
    background-color:transparent;
    border:none;
    outline: none;
    cursor: pointer;
}

@media screen and (min-width:768px){
    .project-skill-tab{
        width: 150px;
    }
    .skill-btn{
        font-size: 18px;
    }
}