.project-container{
    width: 100%;
    padding-left: 20px;
}
@media screen and (min-width:768px) {
    .project-container{
        padding-left: 50px;
        width: 100%;
    }
}
.projects-main-container{
    display: flex;
    flex-direction: row;
}
.projects-container{
   width:100%
}
.project-skill-tab{
    min-height: 100vh;
    width:150px;
    background-color: #040303;
}
.skill-ul-list{
    list-style: none;
    padding: 0;
    padding-top: 10px;
    margin: 0;
}
.active-skill{
    background-color: #383838;
    color: red;
}

.skill-list-item{
    padding-left: 10px;
    color:#f9f9f9;
    font-family: 'Open Sans';
    font-size: 18px;
    width: 140px;
    height: 45px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
