.home-container{
    background-image: url('./Simple\ Shiny.svg');
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.text-color{
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 200;
    color:#ffffff;
    text-align: center;
}

.suggestion{
    font-family: 'DM Sans';
    font-size: 16px;
    font-weight: 500;
    color: red;
    text-align: center;
    margin-top: 0;
}

@media screen and (min-width:768px){
    .suggestion{
        display: none;
    }
    .text-color{
        font-size: 24px;
    }
}
.btn{
    margin-top: 0;
    width: 90px;
    height: 30px;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: orange;
    font-family: 'Bree Serif';
    font-size: 14px;
    font-weight: 500;
    color: #f9f9f9;
    align-self: center;
}

.email-container{
    display: none;
}
@media screen and (min-width:768px){
    .email-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        align-self: center;
    }
}
.email{
    font-family: "DM Sans";
    font-weight: 200;
    font-size: 14px;
    color: #f9f9f9;
    margin-left: 10px;
}
@media screen and (min-width:768px){
    .email{
        font-size: 24px;
    }

}
.copy-btn{
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}
.copy-success-text{
    font-family: "DM Sans";
    font-size: 12px;
    color: #f9f9f9;
    text-align: center;
    margin-top: 0;
}