.footer-main-container{
    width: 100%;
    background-color: #010101;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
}
.footer-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.website-logo-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer-description{
    font-family: "Roboto";
    font-size: 14px;
    color: #f9f9f9;
}
.footer-logo-description{
    font-family: 'DM Sans';
    font-size: 16px;
    color: #ffffff;
    margin-left: 10px;
}

@media screen and (min-width:768px){
    .footer-description{
        font-size: 24px;
    }
    .footer-logo-description{
        font-size: 26px;
    }

}
.contact-us-btn-container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 10px;
}
.social-btn{
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
}